/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

.footer {
    padding-top:2px;
    height:40px;
    width: 100%;
    background-color:rgba(0,0,0,0);
    font-size: 70%;
    color:#111;
    position: absolute;
    bottom: 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
    margin-top:10px;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:5px;
    background-color:rgba(0,0,0,0);
/*  max-width: 680px;*/
/*  padding: 0 15px;*/
}
.container .text-muted {
/*  margin: 20px 0;*/
}

.footer a{
    color:#888;
}

.footer a:hover{
    color:#000;
    text-decoration: underline;
}